@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.nav span.dropBottom,span.dropRight {
	display: block;
	box-shadow:inset 2px 0px 0px #FF0088;
	position: absolute;
	left: 0px;
	width:100%;
	height: 100%;
	top: 0px;
}
.nav nav span.dropBottom {
	box-shadow:inset 0px 2px 0px #FF0088;
	position: absolute;
	width: 100%;
	bottom: 0px;
}
.nav {
    width:930px;
    height:42px;
	background-color:black;
	position:relative;
	left:50%;
	margin-left:-465px;
}
.nav nav {
	display:table;
	margin:auto;
    /*box-shadow:0px 2px 0px #023333;*/
}
.nav ul {
	margin:0;
	padding:0;
	list-style:none;
}

.nav ul ul {
	opacity:0;
	position:absolute;
	top:150%;
	visibility:hidden;
	transition:all .4s ease;
	-webkit-transition:all .4s ease;
}
.nav ul ul ul {
	top:0%;
	left:120%;
}
.nav ul ul li:hover > ul {
	top:0%;
	left:100%;
	opacity:1;
	visibility:visible;
}
.nav ul li:hover > ul {
	opacity:1;
	top:100%;
	visibility:visible;
}
.nav ul li {
	float:left;
	position:relative;
	height:42px;
}
.nav ul ul li {
	float:none;
}
.nav ul li {
	background-color:black;
	cursor: pointer;
}
.nav ul a {
	text-decoration:none;
	display:block;
	color:#FFDD55;
	padding:10px 15px;
	width:6em;
	text-align:center;
    text-shadow: 0px -1px 0px rgba(0,0,0,.2);
}
.nav ul li:hover {
	background-color:#007373;
}
.nav ul li a:hover {
	background-color:#007373;
}
.home-icon {
    width: 42px;
    height:42px;
}
.home-icon img {
	text-decoration:none;
	display:block;
	color:#FF9;
	width:1.2em;
	text-align:center;
}

.foldBtn:hover a:after{
    content: "";
}
